@model IEnumerable<MediaLibrary.Models.ListMuziekViewModel>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="~/css/js/kickstart.js"></script>
<link rel="stylesheet" href="~/css/css/kickstart.css" media="all" />
@{
    ViewData["Title"] = "MuziekList";
}

<h1>MuziekList</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Titel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Artiest)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Foto)
            </th>
            <th>
                @Html.DisplayNameFor(Model => Model.Hidden)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Titel)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Artiest)
                </td>
                <td>
                    @if (item.Foto == null)
                    {
                        <p>Geen foto beschikbaar</p>
                    }
                    else
                    {
                        var base64 = Convert.ToBase64String(item.Foto);
                        var imgSrc = String.Format("data:image/gif;base64,{0}", base64);

                        <div>
                            <img src="@imgSrc" alt="Alternate Text" />

                        </div>
                    }
                </td>
                <td>
                    @Html.DisplayFor(Model => item.Hidden)
                </td>
                <td>
                    @Html.ActionLink("Edit", "MuziekEdit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Delete", "MuziekDelete", new { id = item.Id }) |
                    @Html.ActionLink("Review", "MuziekReview", new { id = item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>
<a asp-action="Media" asp-controller="Admin">Back</a>
