@model IEnumerable<MediaLibrary.Models.ListSeriesViewModel>

@{
    ViewData["Title"] = "SeriesList";
}

<h1>SeriesList</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Titel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Seizoen)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HoeveelAfl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Foto)
            </th>
            <th>
                @Html.DisplayNameFor(Model => Model.Hidden)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Titel)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Seizoen)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HoeveelAfl)
                </td>
                <td>
                    @if (item.Foto == null)
                    {
                        <p>Geen foto beschikbaar</p>
                    }
                    else
                    {
                        var base64 = Convert.ToBase64String(item.Foto);
                        var imgSrc = String.Format("data:image/gif;base64,{0}", base64);

                        <div>
                            <img src="@imgSrc" alt="Alternate Text" />

                        </div>
                    }
                </td>
                <td>
                    @Html.DisplayFor(Model => item.Hidden)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Delete", "SerieDelete", new { id = item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>
<a asp-action="Media" asp-controller="Admin">Back</a>
