@model MediaLibrary.Models.Afspeellijst.CreateFilmAfspeellijst
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="~/css/js/kickstart.js"></script>
<link rel="stylesheet" href="~/css/css/kickstart.css" media="all" />
@{
    ViewData["Title"] = "FilmAfspeellijstEdit";
}

<h1>FilmAfspeellijstEdit</h1>

<h4>Film afspeellijst aanpassen</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="FilmAfspeellijstEdit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Titel" class="control-label"></label>
                <input asp-for="Titel" class="form-control" />
                <span asp-validation-for="Titel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Beschrijving" class="control-label"></label>
                <input asp-for="Beschrijving" class="form-control" />
                <span asp-validation-for="Beschrijving" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Privé" /> @Html.DisplayNameFor(model => model.Privé)
                </label>
            </div>
            <div class="form-group">
                <strong>Films</strong>
                <p>
                    @for (int i = 0; i < Model.Films.Count; i++)
                    {
                        <label> @Model.Films[i].Naam</label>
                        <input asp-for="@Model.Films[i].Checked" type="checkbox" />
                        <input asp-for="@Model.Films[i].Id" type="hidden" />
                        <input asp-for="@Model.Films[i].Naam" type="hidden" />
                    }
                </p>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
@if (User.Identity.IsAuthenticated)
{
    <a asp-action="FilmsAfspeelLijsten">Back to Mijn film Afspeellijsten</a>
}
<br />
<a asp-action="FilmsAfspeelLijsten" asp-controller="Admin2">Back to afspeellijsten</a>

