@model IEnumerable<MediaLibrary.Models.Afspeellijst.FilmAfspeellijstDetailViewModel>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="~/css/js/kickstart.js"></script>
<link rel="stylesheet" href="~/css/css/kickstart.css" media="all" />
@{
    ViewData["Title"] = "FilmAfspeellijstDetail";
}

<h1>FilmAfspeellijstDetail</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Titel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Regisseur)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Titel)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Regisseur)
                </td>
                <td>
                    @Html.ActionLink("Details", "FilmDetail", "Admin", new { id = item.Id })
                </td>
                @if (User.Identity.IsAuthenticated)
                {
                    <td>
                        @Html.ActionLink("Delete", "DeleteFilmInAfspeellijst", new { id = item.Id, AfspeellijstId = item.AfspeellijstId })
                    </td>
                }
            </tr>
        }
    </tbody>

</table>
@if (User.Identity.IsAuthenticated)
{
    <a asp-action="FilmsAfspeelLijsten">Back to Mijn film Afspeellijsten</a>
}
<br />
<a asp-action="FilmsAfspeelLijsten" asp-controller="Admin2">Back to afspeellijsten</a>

