@model IEnumerable<MediaLibrary.Models.Afspeellijst.ListFilmAfspeellijstViewModel>

@{
    ViewData["Title"] = "FilmsAfspeelLijsten";
}

<h1>FilmsAfspeelLijsten</h1>

<form asp-action="FilmsAfspeelLijsten" method="get">
    <div class="form-actions no-color">
        <p>
            Find by name: <input type="text" name="SearchString" value="@ViewData["currentFilter"]" />
            <input type="submit" value="Search" class="btn-secondary" /> 
        </p>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Titel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Beschrijving)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Privé)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Titel)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Beschrijving)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Privé)
                </td>
                <td>
                    @Html.ActionLink("Edit", "FilmAfspeellijstEdit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "FilmAfspeellijstDetail", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "FilmsAfspeelLijstDelete", new { id = item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>
<a asp-action="Afspeellijsten">Back</a>

