@model IEnumerable<MediaLibrary.Models.ListFilmsViewModel>
<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="~/css/List.css">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

@{
    ViewData["Title"] = "FilmsList";
}

<h1>FilmsList</h1>
@if (User.IsInRole("Admin"))
{
    <p>
        <a asp-action="FilmsList" asp-controller="Admin">Admin List</a>
    </p>
}
<form asp-action="FilmsList" method="get">
    <div class="search-box">
        <i class="material-icons" >&#xE8B6;</i>
        <input type="text" class="form-control" placeholder="Search&hellip;" name="SearchString" value="@ViewData["currentFilter"]">
        
    </div>
</form>
<table class="table">
    <thead>
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.Titel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Regisseur)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Foto)
            </th>
            @if (User.Identity.IsAuthenticated)
            {
                <th>
                    @Html.DisplayNameFor(model => model.Status)
                </th>
            }
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            if (item.Hidden == true)
            {
                <tr><td>Dit item is niet beschikbaaar</td></tr>
            }
            else
            {

                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Titel)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Regisseur)
                    </td>
                    <td>
                        @if (item.Foto == null)
                        {
                            <p>Geen foto beschikbaar</p>
                        }
                        else
                        {
                            var base64 = Convert.ToBase64String(item.Foto);
                            var imgSrc = String.Format("data:image/gif;base64,{0}", base64);

                            <div>
                                <img src="@imgSrc" alt="Alternate Text" />

                            </div>
                        }
                    </td>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <td>
                            @Html.DisplayFor(modelItem => item.Status)
                        </td>
                    }
                    <td> <a class="view" asp-action="FilmDetail" asp-controller="Admin" asp-route-id="@item.Id"><i class="material-icons">&#xE417;</i></a> </td>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <td> <a class="delete" asp-action="FilmDelete" asp-controller="Admin" asp-route-id="@item.Id"><i class="material-icons">&#xE872;</i></a> </td>
                        <td> <a class="edit" asp-action="FilmEdit" asp-controller="Admin" asp-route-id="@item.Id"><i class="material-icons">&#xE254;</i></a> </td>
                        <td> <a asp-action="FilmReview" asp-controller="Admin" asp-route-id="@item.Id">Review</a> </td>
                        <td> <a asp-action="FilmGezien" asp-controller="Admin" asp-route-id="@item.Id">Gezien?</a> </td>
                    }


                </tr>
            }
        }
    </tbody>
</table>
<a asp-action="Media" asp-controller="Gebruiker">Back</a>
