@model MediaLibrary.Models.MainListMuziekViewModel
@namespace System.Linq
@{
    ViewData["Title"] = "MuziekList";
}

<h1>MuziekList</h1>
<form asp-action="MuziekList" method="get">
    <div class="form-actions no-color">
        <p>
            Find by name: <input type="text" name="SearchString" value="@ViewData["currentFilter"]" />
            <input type="submit" value="Search" class="btn-secondary" />
        </p>
    </div>
</form>

<table class="table">
    <thead>
        <tr>

            <th>
                Naam
            </th>
            <th>
                Artiest
            </th>
            <th>
                Foto
            </th>

            @if (User.Identity.IsAuthenticated)
            {
                <th>
                    Status
                </th>
            }
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Songs)
        {
            if (item.Hidden == true)
            {
                <tr><td>Dit item is niet beschikbaaar</td></tr>
            }
            else
            {

                <tr>

                    <td>
                        @Html.DisplayFor(modelItem => item.Titel)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Artiest)
                    </td>

                    <td>
                        @if (item.Foto == null)
                        {
                            <p>Geen foto beschikbaar</p>
                        }
                        else
                        {
                            var base64 = Convert.ToBase64String(item.Foto);
                            var imgSrc = String.Format("data:image/gif;base64,{0}", base64);

                            <div>
                                <img src="@imgSrc" alt="Alternate Text" />

                            </div>
                        }
                    </td>

                    @if (User.Identity.IsAuthenticated)
                    {
                        <td>

                            <div class="form-group">
                                <form id="postform" asp-controller="Gebruiker" asp-action="MuziekGeluisterd" asp-route-id="@item.Id" method="post">
                                    @{Model.SelectedStatus = item.CurrentStatus;}
                                    <select  asp-for=SelectedStatus asp-items=@Model.Statuses class="form-control"></select>
                                    <input type="submit" value="Save" class="btn btn-primary" onclick="MuziekGeluisterd()" />
                                </form>
                            </div>
                        </td>
                    }
                    <td> <a asp-action="MuziekDetail" asp-controller="Admin" asp-route-id="@item.Id">Details </a> </td>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <td> <a asp-action="MuziekDelete" asp-controller="Admin" asp-route-id="@item.Id">Delete</a> </td>
                        <td> <a asp-action="MuziekEdit" asp-controller="Admin" asp-route-id="@item.Id">Edit</a> </td>
                        <td> <a asp-action="MuziekReview" asp-controller="Admin" asp-route-id="@item.Id">Review</a> </td>
                    }
                </tr>
            }
        }
    </tbody>
</table>
<a asp-action="Media" asp-controller="Gebruiker">Back</a>