@model IEnumerable<MediaLibrary.Models.Afspeellijst.ListFilmAfspeellijstViewModel>

@{
    ViewData["Title"] = "FilmsAfspeelLijsten";
}

<h1>FilmsAfspeelLijsten</h1>
<form asp-action="FilmsAfspeelLijsten" method="get">
    <div class="form-actions no-color">
        <p>
            Find by name: <input type="text" name="SearchString" value="@ViewData["currentFilter"]" />
            <input type="submit" value="Search" class="btn-secondary" /> 
        </p>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Titel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Beschrijving)
            </th>
            @if (User.IsInRole("Admin"))
            {
                <th>
                    @Html.DisplayNameFor(model => model.Privé)
                </th>
            }

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            @if (item.Privé == false || User.IsInRole("Admin"))
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Titel)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Beschrijving)
                    </td>
                    @if (User.IsInRole("Admin"))
                    {
                        <td>
                            @Html.DisplayFor(modelItem => item.Privé)
                        </td>

                        <td>
                            @Html.ActionLink("Delete", "FilmsAfspeelLijstDelete", new { id = item.Id })
                        </td>
                    }
                    <td>
                        @Html.ActionLink("Detail", "FilmAfspeellijstDetail", "Gebruiker", new { id = item.Id })
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
@if (User.IsInRole("Admin"))
{
    <a asp-action="Afspeellijsten">Back to afspeellijsten (Admin)</a>
}
<br />
<a asp-action="Media" asp-controller="Gebruiker">Back</a>

